<% layout('layouts/boilerplate') %> 
  <div class="card">
    <img src="https://res.cloudinary.com/pirrachodev/image/upload/v1668144859/YelpCamp/lmpefgpwzyg3meul7ipg.jpg" 
      alt="banner" class="card-img-top" style="height: 15rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="https://res.cloudinary.com/pirrachodev/image/upload/v1668145322/YelpCamp/cqdxbtwkifzyntmshwcr.jpg"
             alt="profile" class="card-img-top">
             <div class="card-header">
              <h4><%= user.username %></h4>
             </div>
             <div class="card-body">
                <h6 class="card-title">About you:</h6>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, molestiae. Maiores perferendis
                placeat error quo optio cum sapiente minima fuga illo quibusdam mollitia tempora, similique
                nulla quisquam doloremque consequuntur omnis?</p>
             </div>
             <div class="card-footer">
              <a href="/users/<%= user._id %>/edit" class="btn btn-primary">Edit profile</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">

      </div>
    </div>
  </div>